@mixin Btn($width: 228px) {
    text-decoration: none;
    color: $textColor;
    background: $btncolor;
    border: 1px solid $btncolor;
    height: 63px;
    line-height: 3.938em;
    letter-spacing: 0.075em;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    width: $width;
    text-align: center;
    text-transform: uppercase;
    &:hover {
      background: lighten($btncolor, 5%);
      color: #fff;
    }
    &:active {
      transform: scale(0.97);
    }
  }

  @mixin bookPlacesContainer($width:543px){
    background: #232323;
    opacity: 0.9;
    width: $width;
    height: 374px;
    margin-top: 227px;
    float: left;
    margin-bottom: 99px;
    &__text{
        font-family: $josefin;
        text-align: left;
        width: 508px;
        padding-top: 45px;
        padding-left: 32px;
        padding-bottom: 50px;
        color: $pColor;

        & h5{
            padding-bottom: 23px;
            font-size: 20px;
            letter-spacing: 0.094em;
        }

        & h3{
            text-transform: uppercase;
            padding-bottom: 13px;
            font-weight: 400;
        }

        & p{
            font-size: 16px;
            line-height: 1.625em;
        }
  }

  .btn{
    @include Btn;
    position: relative;
    margin-bottom: 50px;
    margin-left: 30px;
    background-color: #5474FD;
}
}

//Mobile phones
  @mixin mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  //Small tablets
  @mixin small-tablet {
    @media (min-width: 768px) and (max-width: 990px) {
      @content;
    }
  }
  //Regular Tablets
  @mixin big-tablet {
    @media (min-width: 991px) and (max-width: 1024px) {
      @content;
    }
  }
  