//Variables
//Fonts
$josefin: 'Josefin Sans', sans-serif;
$aleo: 'Aleo', serif;
$bodyFont: 16px;
//Structure
$containerWidth: 1112px;
//Colors
$textColor: #FFFFFF;
$titleColor:#FFFFFF;
$btncolor:#5474FD;
$pColor: #E8E8E8;
