footer{
    background: #232323;
    @include fullBlock;
    padding-top: 122px;
    padding-bottom: 47px;
    color: $titleColor;
    font-family: $josefin;

    & .flex-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    & h3{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
        
        letter-spacing: 0.210em;
    }

    & p{
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.100em;
        padding-bottom: 20px;
    }

    & .icons{
        padding-bottom: 47px;
        & i{
            padding-left: 10px;
            padding-right: 10px;
        }

        i:hover{
            color: #5474FD;
        }

        
    }
}